@page
@model CrudContactList.Pages.Categories.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Contact</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Contact.name" class="control-label"></label>
                <input asp-for="Contact.name" class="form-control" />
                <span asp-validation-for="Contact.name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.surname" class="control-label"></label>
                <input asp-for="Contact.surname" class="form-control" />
                <span asp-validation-for="Contact.surname" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Contact.email" />
            <div class="form-group">
                <label asp-for="Contact.password" class="control-label"></label>
                <input asp-for="Contact.password" class="form-control" />
                <span asp-validation-for="Contact.password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.category" class="control-label"></label>
                <input asp-for="Contact.category" class="form-control" />
                <span asp-validation-for="Contact.category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.subcategory" class="control-label"></label>
                <input asp-for="Contact.subcategory" class="form-control" />
                <span asp-validation-for="Contact.subcategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.phone" class="control-label"></label>
                <input asp-for="Contact.phone" class="form-control" />
                <span asp-validation-for="Contact.phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.birthDate" class="control-label"></label>
                <input asp-for="Contact.birthDate" class="form-control" />
                <span asp-validation-for="Contact.birthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
